.color-red{ color: #a70209; }
.main-logo{ width: 50%; }
.main-text{ color: #f91111; text-shadow: 1px 1px #170303; font-weight: bold; padding: 10px; }
.padding10{ padding: 10px; }
.padding-bottom20{ padding-bottom: 20px; }
/*.slider-thumbs{    margin: 0 auto; margin-top: 20px;}*/
.slider-thumbs{ width: 80%; right: 10%; left: 10%; margin: 0 auto;}
.max-width-100-perc { max-width: 100% }
.slider-img { max-width: 100% }
